<link rel="stylesheet" href="./awesome-block.scss">
<script src="./AwesomeBlock.ts"></script>

<div class="awesome-block" data-component="awesome-block">
  <button class="cta-button" data-cta-button>
    language selector
  </button>
</div>
